.allInvestment {
  width: 100%;

  .walletContent {
    background-color: #0202c6;
    color: #fff;
    border-radius: 16px;
    height: 160px;
    padding: 20px;
  }

  .wrapper {
    width: 95%;
    margin: 0 auto;
    align-items: center;
    height: 100%;
    max-width: var(--wrapper-max-width);

    @media (max-width: 1387px) {
      width: 90%;
    }

    @media (max-width: 1315px) {
      width: 95%;
    }

    @media (max-width: 1264px) {
      // justify-content: space-between;
    }
    // }

    .investmentContent {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .inputHolder {
        width: 600px;

        @media screen and (max-width: 700px) {
          width: 100%;
          margin-bottom: 20px;
        }
      }

      .searchInput {
        background-color: var(--white);
        border-color: var(--white);
      }

      @media screen and (max-width: 700px) {
        flex-direction: column-reverse;
      }
    }

    .iconClass {
      position: absolute;
      right: 16px;
      bottom: 28%;
      background: transparent;
    }

    .tabContent {
      .grid {
        width: 100%;
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 36px 30px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (max-width: 1200px) {
          // grid-template-columns: repeat(auto-fit, minmax(200px, 284px));
          // justify-content: center;
          width: 100%;
          margin-top: 20px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 36px 30px;
        }

        @media screen and (max-width: 900px) {
          width: 100%;
          margin-top: 20px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 36px 30px;
        }

        @media screen and (max-width: 700px) {
          // grid-template-columns: repeat(auto-fit, minmax(100%, 284px));
          // justify-content: center;
          width: 100%;
          margin-top: 20px;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 36px 30px;
        }
      }
    }
  }
}

.modalContent {
  // background-color: greenyellow !important;
  // padding: 20px;
  background-color: #e5e5e5 !important;
  position: relative;

  .gridWrapper {
    padding: 40px 40px 20px 40px;
    .grid {
      display: grid;
      grid-template-columns: 49% 49%;
      gap: 2%;
      // padding: 40px;

      @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
      }

      @media screen and (max-width: 700px) {
        display: flex;
        flex-direction: column;
      }

      .left {
        // background-color: var(--white);
        border-radius: 16px;
        // padding: 20px;

        @media (max-width: 900px) {
          margin-bottom: 20px;
        }

        @media (max-width: 700px) {
          margin-bottom: 20px;
        }

        .leftWrapper {
          overflow: hidden;
          display: flex;
          flex-direction: column;
          // height: 85vh;

          .leftContent {
            overflow-y: auto;
            flex-grow: 1;

            h3 {
              color: #333131;
              font-size: 16px;
              line-height: 20px;
              margin-bottom: 10px;
              margin-top: 20px;
            }

            h4 {
              color: #ea1d1d;
              font-size: 16px;
              line-height: 20px;
              margin-bottom: 10px;
              margin-top: 20px;
            }

            p {
              font-size: 14px;
              line-height: 17px;
              color: #333131;
            }

            .address {
              color: #65676f;
              font-size: 14px;
              line-height: 21px;
              margin-bottom: 10px;
            }
          }
        }

        img {
          width: 100%;
        }
      }
      .right {
        height: fit-content;
        // padding: 20px;

        .rightWrapper {
          overflow: hidden;
          display: flex;
          flex-direction: column;
          height: 55vh;

          .rightContent {
            overflow-y: auto;
            flex-grow: 1;

            .upDiv {
              background-color: var(--white);
              border-radius: 16px;
              padding: 20px;
              margin-bottom: 20px;

              .portValue {
                display: flex;
                align-items: center;
                justify-content: space-between;
              }
            }
            .downDiv {
              background-color: var(--white);
              border-radius: 16px;
              padding: 20px;

              .unitValue {
                display: flex;
                align-items: center;
                margin: 30px 0;

                > div {
                  margin-right: 40px;
                }
              }
            }
          }
        }
      }
    }
  }

  .modalFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    background-color: var(--white);
  }
}
