.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 4000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  -webkit-animation: fadeIn 0.4s ease-in-out;
  animation: fadeIn 0.4s ease-in-out;
  opacity: 1;

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

  .modalBody {
    width: 30%;
    max-width: 1008px !important;
    height: auto;
    max-height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3000;
    border-radius: 16px;
    overflow-y: auto;
    position: relative;
    background: rgba(250, 250, 250, 0.93);
    backdrop-filter: blur(80px);

    @media (max-width: 900px) {
      width: 60%;
    }

    @media (max-width: 700px) {
      width: 90%;
    }

    .cancel {
      //   display: flex;
      //   justify-content: flex-end;
      //   margin-top: -10px;
      background: transparent;
      position: absolute;
      top: 15px;
      right: 18px;

      > button {
        background: transparent;
        padding: 0;
        font-size: 15px;
        color: var(--new-blue);
        width: 32px;
        height: 32px;
        border-radius: 50%;
        transition: box-shadow 0.4s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: none;

        &:hover {
          box-shadow: 0px 0px 5px 1px rgba(89, 89, 89, 0.1);
        }
      }
    }
  }
}
