.figures {
  width: 100%;
  padding: 150px 0;
  background: url("/images/world-map-dot.svg") center/cover no-repeat;
  background-color: var(--white);

  .wrapper {
    background: rgba(242, 242, 242, 0.7);
    text-align: center;
    padding: 20px;

    .accomplishment {
      display: flex;
      color: var(--black);
      padding: 60px 160px;
      justify-content: space-between;
      //

      @media (max-width: 700px) {
        padding: 20px 0px !important;
      }
      @media (max-width: 900px) {
        padding: 40px 40px;
      }
      @media screen and (max-width: 1200px) {
        // padding: 60px 120px ;
      }

      .singleAccomplishment {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100px;

        h4 {
          font-size: 48px;
          line-height: 58px;
          color: #333131;

          @media (max-width: 700px) {
            font-size: 25px !important;
            line-height: 30px !important;
          }

          @media (max-width: 900px) {
            font-size: 40px;
            line-height: 50px;
          }
          @media screen and (max-width: 1200px) {
            // padding: 0px 0px 0px 150px;
          }
        }
        p {
          font-size: 16px;
          line-height: 20px;
          color: #333131;

          @media (max-width: 700px) {
            font-size: 14px;
            line-height: 16px;
          }
        }

        @media (max-width: 700px) {
          text-align: center;
          flex-direction: column;
        }

        .icon {
          @media (max-width: 700px) {
            display: none;
          }
        }
      }
    }

    span {
      color: #65676f;

      @media (max-width: 700px) {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}
