.wide {
  width: 100%;
  padding: 150px 0px;
  background-color: var(--white);

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }

    @media screen and (max-width: 700px) {
      // padding: 71px 16px 0px;
    }

    .left {
      width: 53%;
      // height: 393px;

      @media screen and (max-width: 1200px) {
        width: fit-content;
        margin: 0 auto 48px;
        height: 100%;
        max-height: 393px;
      }

      > img {
        height: 100%;
        width: 100%;
        max-width: 537px;

        @media screen and (max-width: 1200px) {
          max-width: 450px;
        }

        @media screen and (max-width: 700px) {
          max-width: 380px;
        }
      }
    }

    .right {
      width: 45%;
      max-width: 392px;
      // margin-left: 100px;

      @media screen and (max-width: 700px) {
        max-width: 300px;
      }

      @media screen and (max-width: 1200px) {
        width: 100%;
        max-width: 390px;
        text-align: center;
      }

      h3 {
        font-size: 32px;
        line-height: 39px;
        color: #3c3c3c;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        line-height: 19px;
        color: #000000;
      }
    }
  }
}
