.referral {
  width: 100%;

  .wrapper {
    // .wrapper {
    width: 95%;
    margin: 0 auto;
    // display: flex;
    // justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: var(--wrapper-max-width);

    @media (max-width: 1387px) {
      width: 90%;
    }

    @media (max-width: 1315px) {
      width: 95%;
    }

    @media (max-width: 1264px) {
      // justify-content: space-between;
    }
    // }

    .grid {
      display: grid;
      grid-template-columns: 48% 48%;
      gap: 4%;

      @media (max-width: 900px) {
        display: flex;
        flex-direction: column;
      }

      @media (max-width: 700px) {
        display: flex;
        flex-direction: column;
      }

      .left {
        .investInfo {
          display: flex;
          align-items: center;
          background-color: var(--white);
          border-radius: 16px;
          padding: 20px;

          @media (max-width: 700px) {
            align-items: unset;
          }

          img {
            width: 64px;
            height: 64px;
            border-radius: 8px;
          }

          .investText {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            margin-left: 20px;

            @media (max-width: 700px) {
              flex-direction: column;
              align-items: flex-start;
              margin-left: 10px;
            }

            .info {
              h3 {
                font-size: 14px;
                line-height: 17px;
                color: #333131;
                margin-bottom: 2px;
              }
              p {
                font-size: 12px;
                line-height: 15px;
                color: #65676f;
                margin-bottom: 5px;

                &:last-of-type {
                  margin-bottom: 0px;
                }
              }
            }

            .value {
              margin-top: 0px;
              p {
                font-size: 12px;
                line-height: 15px;
                color: #65676f;
              }
              h3 {
                font-size: 16px;
                line-height: 20px;
                color: #004ef0;
                background: #e6edfe;
                border-radius: 6px;
                padding: 10px;
              }

              @media (max-width: 700px) {
                margin-top: 10px;
              }
            }
          }
        }

        .inputAmt {
          background-color: var(--white);
          border-radius: 16px;
          padding: 30px;
          margin-top: 20px;

          .defaultInputAmt {
            .radioToolbar {
              // margin: 10px;
              display: flex;
              // flex-direction: column;

              @media (max-width: 700px) {
                // margin-top: 20px;
                flex-wrap: wrap;
              }

              input[type="radio"] {
                opacity: 0;
                position: fixed;
                width: 0%;

                // background: #e6edfe;
                // border: 1px solid #b6b7b9;
                // box-sizing: border-box;
                // border-radius: 16px;

                &:focus + label {
                  border: 1.5px dashed #42ae51;
                }

                &:checked + label {
                  background-color: #42ae51;
                  border-color: #42ae51;
                  color: var(--white);
                  font-weight: 600;
                  // transform: scale(1.07);
                  transition: all 0.3s linear;

                  span {
                    display: block;
                  }
                }

                &::after {
                  display: none;
                }

                &:hover {
                  background-color: #42ae51;
                  border: 1.5px solid #42ae51;
                  color: var(--white);
                  font-weight: 600;
                }
              }

              label {
                display: flex;
                justify-content: space-between;
                align-items: center;
                // display: inline-block;
                background-color: transparent;
                padding: 17px 20px;
                font-family: sans-serif, Arial;
                font-size: 16px;
                width: 100%;
                color: #65676f;
                margin-right: 10px;
                background: #e6edfe;
                border: 1.5px solid #b6b7b9;
                box-sizing: border-box;
                border-radius: 16px;

                &:last-of-type {
                  margin-right: 0px;
                }

                &:hover {
                  background-color: #42ae51;
                  border: 1.5px solid #42ae51;
                  color: var(--white);
                  font-weight: 600;

                  span {
                    display: none;
                  }
                }

                > div {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }

                @media (max-width: 700px) {
                  margin-right: 0px;
                }
              }
            }
          }
          .formGroup {
            margin-top: 10px;
          }
        }
      }
      .right {
        margin-top: 0px;

        .investList {
          background-color: #fff;
          border-radius: 16px;
          padding: 20px;

          ul {
            li {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 30px;

              &:last-of-type {
                margin-bottom: 0px;
              }

              p {
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                color: #65676f;
              }

              span {
                font-size: 14px;
                line-height: 17px;
                color: #333131;
                font-weight: bolder;
              }
            }
          }
        }

        @media (max-width: 700px) {
          margin-top: 20px;
        }

        .orderBtn {
          width: 100%;
          margin-top: 20px;
        }
      }
    }
  }
}
