.dropdown {
  width: fit-content;
  position: relative;

  > button {
    width: fit-content;
    color: var(--white);
    background: transparent;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: inherit;
    font-size: 14px;

    @media (max-width: 1264px) {
      color: var(--white) !important;
    }

    &.darkText {
      color: var(--new-blue);
    }

    i {
      font-size: 10px;
      margin-left: 5px;
    }
  }

  .dropmenu {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.open {
      top: 30px;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
    }
  }
}
