.settings {
  width: 100%;

  .wrapper {
    width: 95%;
    margin: 0 auto;
    align-items: center;
    height: 100%;
    max-width: var(--wrapper-max-width);

    @media (max-width: 1387px) {
      width: 90%;
    }

    @media (max-width: 1315px) {
      width: 95%;
    }

    @media (max-width: 1264px) {
      // justify-content: space-between;
    }

    .grid {
      // width: 100%;
      display: grid;
      grid-template-columns: 35% 63%;
      gap: 2%;

      @media (max-width: 700px) {
        display: flex;
        flex-direction: column;
      }

      .left {
        background-color: var(--white);
        height: 75vh;
        border-radius: 16px;
        padding: 40px;

        @media (max-width: 700px) {
          padding: 10px;
          height: 100%;
          margin-bottom: 20px;
        }

        .settingNav {
          height: 75px;

          @media (max-width: 600px) {
            height: 65px;
          }

          > ul {
            height: 100%;

            @media (max-width: 600px) {
              display: flex;
              flex-direction: row;
              // justify-content: center;
              overflow-x: scroll;
              width: 100%;
              // flex-wrap: wrap;
            }

            @media screen and (max-width: 903px) {
              -webkit-overflow-scrolling: touch;
              -ms-overflow-style: none;
              scrollbar-width: none;
              white-space: nowrap;

              &::-webkit-scrollbar {
                display: none;
              }
            }

            > li {
              height: 80%;
              flex: 1;
              // box-shadow: 0px 6px 34px rgba(116, 116, 116, 0.15);
              background: var(--white);
              color: #65676f;
              border-radius: 8px;
              font-weight: bold;
              margin-bottom: 10px;
              border: 1px solid #b6b7b9;

              @media (max-width: 900px) {
                height: 55px;
              }

              @media (max-width: 600px) {
                height: 65px;
                margin-bottom: 0px;
                margin-right: 10px;

                &:last-of-type {
                  margin-right: 0px;
                }
              }

              .link {
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 30px;
                color: #333131;
                font-family: Proxima-Medium !important;
                position: relative;

                &.active {
                  background: #f2f2f2;
                  border-radius: 8px;
                  font-weight: bold;
                }
                span {
                  margin-left: 5px;
                }
                @media screen and (max-width: 900px) {
                  padding: 0 10px;
                }
                @media screen and (max-width: 600px) {
                  padding: 0 10px;
                }
              }
            }
          }
        }
      }
      .right {
        background-color: #fff;
        // height: 100%;
        height: 75vh;
        border-radius: 16px;
        padding: 40px;

        @media (max-width: 700px) {
          padding: 10px;
          height: 100%;
        }

        .content {
          width: 60%;

          @media (max-width: 900px) {
            width: 100%;
          }

          @media (max-width: 700px) {
            width: 100%;
          }

          h3 {
            font-weight: bold;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 20px;
          }

          form {
            .formGroup {
              margin-bottom: 20px;
            }

            .submitBtn {
              margin-top: 40px;
            }
          }

          .cardWrapper {
          }

          .bankCard {
            display: flex;
            background: #fefefe;
            border: 1px solid #b6b7b9;
            border-radius: 16px;
            padding: 20px;
            margin-bottom: 20px;
            // width: 100%;

            img {
              border-radius: 8px;
            }

            .bankDetailDelete {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              margin: 0px 20px;

              .bankDetail {
                h4 {
                  font-size: 16px;
                  line-height: 20px;
                  color: #333131;
                }
                h5 {
                  font-size: 12px;
                  line-height: 15px;
                  color: #65676f;
                  margin: 5px 0px;
                }
                p {
                  font-size: 14px;
                  line-height: 17px;
                  color: #65676f;
                }
              }
            }
          }
          .atmCard1 {
            background: linear-gradient(
              136.48deg,
              #004ef0 3.14%,
              #0202c6 98.63%
            );
            color: var(--white);
            padding: 30px;
            border-radius: 16px;
            margin: 0px 0px 20px 0px;

            span {
              font-weight: bold;
              font-size: 16px;
              line-height: 20px;
              margin-right: 10px;
            }

            h4 {
              text-transform: uppercase;
              font-size: 12px;
              line-height: 15px;
              margin: 10px 0;
            }

            .expiryDelete {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .date {
                small {
                  font-size: 7px;
                  line-height: 9px;
                }
                p {
                  font-size: 14px;
                  line-height: 17px;
                }
              }
            }
          }
          .atmCard2 {
            background: linear-gradient(
              136.48deg,
              #f08200 3.14%,
              #c66002 98.63%
            );
            color: var(--white);
            padding: 30px;
            border-radius: 16px;
            margin: 0px 0px 20px 0px;

            span {
              font-weight: bold;
              font-size: 16px;
              line-height: 20px;
              margin-right: 10px;
            }

            h4 {
              text-transform: uppercase;
              font-size: 12px;
              line-height: 15px;
              margin: 10px 0;
            }

            .expiryDelete {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .date {
                small {
                  font-size: 7px;
                  line-height: 9px;
                }
                p {
                  font-size: 14px;
                  line-height: 17px;
                }
              }
            }
          }
          .submitBtn {
            margin-top: 40px;
          }

          .notifWrapper {
            .notifSwitch {
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 20px;
              background: #fefefe;
              border: 1px solid #b6b7b9;
              box-sizing: border-box;
              border-radius: 8px;
              margin-bottom: 15px;

              h4 {
                font-size: 12px;
                line-height: 15px;
                color: #333131;
              }
            }
          }
        }
      }
    }
  }
}
