.recommendedInvestment {
  width: 100%;
  margin-top: 30px;

  h2 {
    font-family: Wesfy-Medium;
    font-size: 40px;
    color: var(--heading);
    margin-bottom: 72px;
    text-align: center;

    @media screen and (max-width: 700px) {
      font-size: 32px;
    }
  }

  .wrapper {
    width: 95%;
    margin: 0 auto;
    // height: 100%;
    max-width: var(--wrapper-max-width);

    @media (max-width: 1387px) {
      width: 90%;
    }

    @media (max-width: 1315px) {
      width: 95%;
    }

    h3 {
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
    }

    .grid {
      width: 100%;
      margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 36px 30px;
      margin-left: auto;
      margin-right: auto;

      @media screen and (max-width: 1200px) {
        // grid-template-columns: repeat(auto-fit, minmax(200px, 284px));
        // justify-content: center;
        width: 100%;
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 36px 30px;
      }

      @media screen and (max-width: 900px) {
        width: 100%;
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 36px 30px;
      }

      @media screen and (max-width: 700px) {
        // grid-template-columns: repeat(auto-fit, minmax(100%, 284px));
        // justify-content: center;
        width: 100%;
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 36px 30px;
      }
    }
  }
}

// modal

.modalContent {
  padding: 34px 28px 45px;

  @media screen and (max-width: 400px) {
    padding: 34px 18px 45px;
  }

  h2 {
    font-size: 15px;
    font-family: Wesfy-Bold;
    color: var(--new-blue);

    @media screen and (max-width: 400px) {
      max-width: 180px;
    }
  }

  .form {
    width: 100%;
    margin-top: 31px;

    .formGrid {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      gap: 9px 7px;
      margin-bottom: 9px;

      @media screen and (max-width: 700px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
