.transactionHistory {
  width: 100%;

  .wrapper {
    width: 95%;
    margin: 0 auto;
    // height: 100%;
    max-width: var(--wrapper-max-width);

    @media (max-width: 1387px) {
      width: 90%;
    }

    @media (max-width: 1315px) {
      width: 95%;
    }

    .tableHeader {
      h3 {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        color: #000;
        margin: 40px 0 15px 0;
      }
    }

    .content {
      height: 500px;
      overflow: scroll;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        width: 15px;
      }

      &::-webkit-scrollbar-corner {
        width: 25px;
      }
      &::-webkit-scrollbar-button {
        width: 5px;
        background-color: red;
      }
      &::-webkit-scrollbar-track-piece {
        box-shadow: inset 0 0 5px grey;
        border-radius: 0px;
        // background: rgba(100, 123, 143, 0.7);
       
      }

      &::-webkit-scrollbar-thumb {
        background: blue;
        border-radius: 10px;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: blue;
      }

      table {
        // border: 2px solid forestgreen;
        width: 100%;
        height: 200px;
        text-align: left;

        // border-collapse: collapse;

        tr {
          background-color: var(--white) !important;
          border-radius: 50px !important;
        }
      }

      th {
        // border-bottom: 1px solid black;
        background-color: var(--white) !important;
        padding: 20px 10px;
        margin-bottom: 10px;
        // border-bottom: 5px solid black;
      }

      td {
        // text-align: center;
        padding: 10px 10px;

        h3 {
          font-size: 14px;
          line-height: 17px;
          color: #65676f;
        }
      }
      .tdDiv {
        display: flex;
        align-items: center;

        span {
          margin-left: 10px;
          color: #373839;
          font-size: 14px;
          line-height: 17px;
        }
      }

      .mValues {
        h3 {
          font-size: 14px;
          line-height: 17px;
          color: #65676f;
        }
        span {
          color: #65676f;
          font-size: 12px;
          line-height: 15px;
        }
      }
      .colorRed {
        color: #ea1d1d;
      }

      .colorGreen {
        color: rgb(6, 175, 6);
      }
    }
  }
}
