.footer {
  width: 100%;
  background: var(--black);
  padding: 150px 0 50px;
  color: var(--white);

  @media (max-width: 903px) {
    padding: 120px 10px;
  }

  .wrapper {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px 50px;
    margin-top: 16px;

    @media (max-width: 1387px) {
      width: 90%;
    }

    @media (max-width: 1315px) {
      width: 95%;
    }

    @media (max-width: 1200px) {
      grid-template-columns: repeat(3, auto);
      justify-content: center;
    }

    @media (max-width: 903px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .first {
        order: 3;
        margin-top: 64px;
      }

      .second {
        order: 1;
      }

      // .third {
      //   order: 2;
      //   margin-top: 64px;
      // }

      .last {
        order: 2;
        margin-top: 64px;
      }
    }
  }
  .last {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .copyright {
    // width: 100%;
    font-size: 14px;
    color: #bababa;
    // margin-top: 49px;
  }
  .outro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

    .socials {
      // width: 100%;
      display: flex;
      align-items: center;

      @media (max-width: 903px) {
        justify-content: center;
      }

      a {
        color: var(--white);
        margin-right: 10px;
        font-size: 16px;

        &:last-of-type {
          margin-right: 0px;
        }
      }
    }
  }
}
