.accord {
  width: 100%;
  padding: 100px 0;

  .wrapper {
    max-width: 700px;

    .accordion {
      width: 100%;
      display: flex;
      flex-direction: column;

      > li {
        background: #f2f2f2;

        border-radius: 8px;
        padding: 0px 24px;
        margin-bottom: 16px;

        &:last-of-type {
          margin-bottom: 0px;
        }

        > button {
          display: flex;
          width: 100%;
          align-items: center;
          text-align: left;
          background: transparent;
          padding: 12px 0px;

          .headInfo {
            display: flex;
            flex-direction: column;

            .difficulty {
              font-size: 17px;
              color: var(--orange);
              font-family: Noto-Bold;
              margin-bottom: 8px;
            }

            .duration {
              font-size: 12px;
              color: rgba(244, 244, 244, 0.8);
            }
          }

          .rotate {
            background: #191919;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            margin-left: auto;
            flex-shrink: 0;

            i {
              transition: all 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
            }
          }
        }

        > .content {
          margin-top: 0px;
          border-top: 1px solid rgba(244, 244, 244, 0.5);
          // padding: 24px 0px;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
            opacity 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
            visibility 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
            margin 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
            padding 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          opacity: 0;
          visibility: hidden;
          pointer-events: none;

          &.show {
            max-height: 400px;
            overflow-y: auto;
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            margin-top: 12px;
            padding: 24px 0px;

            @media screen and (max-width: 903px) {
              max-height: 700px;
            }
          }

          .subHead {
            display: flex;
            margin-bottom: 13px;
            align-items: center;
            font-size: 14px;
            font-family: Noto-Bold;
            color: var(--text-primary);

            > div {
              margin-right: 8px;
              width: 24px;
              height: 24px;
              border-radius: 50%;
              flex-shrink: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              background: rgba(93, 85, 255, 0.2);
            }
          }

          .subPlaylist {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 0px 10px 0px 30px;

            > li {
              width: 100%;
              margin-bottom: 12px;

              &:last-of-type {
                margin-bottom: 0px;
              }

              a {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .videoInfo {
                  display: flex;
                  align-items: center;

                  .playIcon {
                    width: 26px;
                    height: 26px;
                    border-radius: 50%;
                    background: rgba(235, 237, 236, 0.2);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 13px;
                    color: rgba(244, 244, 244, 0.8);
                    flex-shrink: 0;
                  }

                  .videoTitle {
                    margin-left: 6px;
                    //   max-width: 153px;
                    white-space: pre-line;
                    //   line-height: 1.4;
                    font-size: 14px;
                    font-family: Noto-Light;
                    color: var(--text-secondary);
                  }
                }

                .videoDuration {
                  font-size: 13px;
                  color: rgba(244, 244, 244, 0.8);
                }
              }
            }
          }
        }
      }
    }
  }
}
