.contact {
  width: 100%;
  padding: 100px 0;

  .wrapper {
    // width: 100%;
    display: flex;

    @media screen and (max-width: 903px) {
      flex-direction: column;
      align-items: center;
    }

    .left {
      width: 40%;
      padding: 55px 83px 124px;
      background: var(--primary);
      color: var(--white);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      position: relative;

      @media screen and (max-width: 1200px) {
        padding: 55px 32px 124px;
      }

      @media screen and (max-width: 903px) {
        width: 100%;
        align-items: center;
      }

      @media screen and (max-width: 700px) {
        width: 100%;
        align-items: flex-start;
        // align-items: center;
      }

      h4 {
        color: var(--white);
        font-size: 40px;
        line-height: 49px;
        max-width: 250px;

        @media screen and (max-width: 903px) {
          text-align: center;
        }

        @media screen and (max-width: 700px) {
          text-align: left;
        }
      }

      p {
        font-size: 16px;
        line-height: 20px;
        max-width: 350px;
        margin-top: 20px;

        @media screen and (max-width: 903px) {
          text-align: center;
        }

        @media screen and (max-width: 700px) {
          text-align: left;
        }
      }
      .iconText {
        display: flex;
        align-items: center;
        max-width: 300px;
        margin-top: 40px;

        @media screen and (max-width: 903px) {
          text-align: center;
        }

        @media screen and (max-width: 700px) {
          text-align: left;
        }

        span {
          margin-left: 10px;
        }
      }
      // .iconBottom {
      //   margin-bottom: 40px;
      // }
      .socials {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 60px;

        @media (max-width: 903px) {
          justify-content: center;
        }

        a {
          color: var(--white);
          margin-right: 30px;
          font-size: 16px;

          &:last-of-type {
            margin-right: 0px;
          }
        }
      }
    }

    .right {
      width: 60%;
      // padding: 53px 94px 32px;
      padding-left: 200px;

      @media screen and (max-width: 1200px) {
        padding: 53px 32px 32px;
      }

      @media screen and (max-width: 903px) {
        width: 100%;
      }

      @media screen and (max-width: 700px) {
        padding: 53px 0px 0px;
      }

      form {
        width: 100%;

        .formGrid {
          display: grid;
          width: 100%;
          grid-template-columns: repeat(2, 1fr);
          // gap: 20px 48px;
          gap: 20px;

          @media screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
            // gap: 32px 48px;
            gap: 20px;
          }

          .formGroup {
            &:last-of-type {
              display: flex;
              flex-direction: column;
              justify-content: flex-end;

              @media screen and (max-width: 600px) {
                justify-content: flex-start;
                // margin-top: 16px;
              }
            }
          }
        }

        .formSelect {
          margin-top: 20px;

          .selectWrap {
            &::after {
              width: 10px;
              height: 6px;
              background: url("/images/arrow-ios-downward.svg") no-repeat center;
              background-size: cover;
              position: absolute;
              right: 12px;
              top: 50%;
              transform: translateY(-50%);
              pointer-events: none;
              display: block;
            }
          }
        }

        .textarea {
          margin-top: 25px;
        }

        .submitBtn {
          margin-top: 45px;
        }

        .extraInfo {
          width: 100%;
          margin-top: 36px;

          p {
            line-height: 1.6;
            max-width: 635px;
            color: var(--heading);
            font-size: 14px;

            a,
            span {
              font-family: Proxima-Bold;
              color: var(--heading);
            }
          }
        }
      }
    }
  }
}
