.how {
  width: 100%;
  background-color: #f5f5f5;
  padding: 100px 0;

  .wrapper {
    .heading {
      // text-align: center;
      // justify-content: center;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      flex-direction: column;

      h2 {
        font-size: 32px;
        line-height: 39.01px;
        color: #333131;
        margin-bottom: 10px;
        text-align: center;

        @media screen and (max-width: 700px) {
          font-size: 29px;
          line-height: 32.01px;
        }
      }

      p {
        font-size: 16px;
        line-height: 19.5px;
        color: #7e8085;
        text-align: center;
        max-width: 400px;
        margin-bottom: 20px;
      }
    }

    .grid {
      width: 100%;
      margin-top: 57px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 103px;

      @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 377px));
        justify-content: center;
      }

      .card {
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1.5px solid rgb(190, 190, 190);
        padding: 70px 50px;

        h4 {
          font-size: 24px;
          line-height: 29.26px;
          color: #3c3c3c;
          margin: 15px 0px;
        }
        p {
          font-size: 16px;
          line-height: 20px;
          color: #65676f;
        }
      }
    }
  }
}
