.wrapper {
  width: 100%;
  display: flex;
  height: 100vh;

  @media screen and (max-width: 1200px) {
    height: 100%;
  }

  .left {
    width: 50%;
    height: 100vh;
    background: linear-gradient(
        180deg,
        rgba(34, 106, 255, 0.15) 0%,
        rgba(5, 25, 65, 0.82) 46.35%,
        rgba(0, 0, 0, 0.94) 100%
      ),
      url("/images/image-BG.png") no-repeat;
    background-size: cover;
    background-position: center;
    color: var(--white);
    position: relative;

    .inner {
      position: absolute;
      max-width: 400px;
      top: 230px;
      left: 270px;

      @media screen and (max-width: 1200px) {
        position: absolute;
        max-width: 400px;
        top: 250px;
        left: 90px;
      }

      h2 {
        font-size: 40px;
        line-height: 41px;
        max-width: 300px;
        margin-top: 100px;
      }
      p {
        font-size: 16px;
        line-height: 21px;
        max-width: 250px;
        margin: 10px 0px;
      }
    }

    @media screen and (max-width: 700px) {
      display: none;
    }

    @media screen and (max-width: 900px) {
      display: none;
    }
    @media screen and (max-width: 1200px) {
      // display: none;
      width: 40%;
    }
  }

  .right {
    // flex: 1 0 50%;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
    height: 100vh;
    overflow-y: auto;
    padding: 164px 183px 67px 83px;
    background: var(--white);
    scroll-behavior: smooth;

    @media screen and (max-width: 1400px) {
      flex: 1;
      padding: 164px 32px 67px;
      height: 100%;
    }

    @media screen and (max-width: 1200px) {
      flex: 1;
      padding: 164px 32px 67px;
      height: 100%;
    }

    @media screen and (max-width: 900px) {
      flex: 1;
      padding: 164px 82px 67px;
      height: 100%;
    }
    @media screen and (max-width: 700px) {
      padding: 64px 16px 67px;
    }
    @media screen and (max-width: 400px) {
      padding: 64px 16px 67px;
    }
  }
}
.modalContent {
  .registerModal {
    padding: 40px 40px 20px 40px;

    @media screen and (max-width: 700px) {
      padding: 50px 10px 10px 10px;
    }
  }
}
