.radioForm {
  h2 {
    font-size: 32px;
    line-height: 39px;
    margin-top: 80px;
    margin-bottom: 40px;
    max-width: 300px;
  }

  .backSkipBtn {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .backStep {
      background: none;
      padding: 0;

      &:last-of-type {
        color: #004ef0;
        text-decoration: underline;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .radioToolbar {
    // margin: 10px;
    // display: flex;
    // flex-direction: column;

    input[type="radio"] {
      opacity: 0;
      position: fixed;
      width: 0%;

      &:focus + label {
        border: 1.5px dashed #42ae51;
      }

      &:checked + label {
        background-color: #42ae51;
        border-color: #42ae51;
        color: var(--white);
        font-weight: 600;
        // transform: scale(1.07);
        transition: all 0.3s linear;

        span {
          display: block;
        }
      }

      &::after {
        display: none;
      }

      &:hover {
        background-color: #42ae51;
        border: 1.5px solid #42ae51;
        color: var(--white);
        font-weight: 600;
      }
    }

    label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // display: inline-block;
      background-color: transparent;
      padding: 17px 20px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      border: 1.5px solid #b6b7b9;
      border-radius: 8px;
      width: 100%;
      color: #65676f;

      &:hover {
        background-color: #42ae51;
        border: 1.5px solid #42ae51;
        color: var(--white);
        font-weight: 600;

        span {
          display: none;
        }
      }
    }
  }
  .submitBtn {
    margin-top: 50px;
  }
}
.modalForm {
  padding: 90px;

  @media screen and (max-width: 400px) {
    padding: 90px 10px;
  }

  .formGroup {
    margin-bottom: 20px;
  }
  .submitBtn {
    margin-top: 50px;
  }
}
