.layout {
  width: 100%;
  max-width: var(--wrapper-max-width);
  min-width: var(--wrapper-min-width);
  margin: 0 auto;

  // added
  @media (max-width: 1272px) {
    display: block;
  }

  .main {
    position: relative;
    left: 300px;
    width: calc(100% - 300px);
    display: block;
    padding: 0px 56px 69px 56px;
    margin-top: 120px;

    @media (max-width: 1312px) {
      left: 0;
      width: 100%;
    }
  }
  // .main {
  //   width: 100%;
  //   height: 100%;
  //   // margin-top: 70px; // height of header

  //   // @media (max-width: 1275px) {
  //   //   margin-top: 55px;
  //   // }
  // }
}
