.otpDiv {
  .card-hover {
    opacity: 0.95;
  }
  .card-hover:hover {
    opacity: 1;
  }
  .card-hover:hover .card-body {
    background-color: #dddcdc;
  }
  .card-hover:hover .card {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
  .otpField {
    // width: 38px;
    // margin-right: 10px;
    // padding-left: 12px;
    // height: 40px;

    width: 70px !important;
    margin-right: 10px;
    padding-left: 32px;
    height: 70px !important;

    &:last-of-type {
      margin-right: 0px;
    }
  }
  .cursor-pointer {
    cursor: pointer;
  }
}
