.curate {
  width: 100%;
  padding: 150px 0;
  background-color: var(--white);

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 8px;
    padding: 100px;

    @media (max-width: 700px) {
      padding: 20px;
    }

    @media (max-width: 900px) {
    }

    @media screen and (max-width: 1200px) {
      // padding: 0px 0px 0px 150px;
    }

    h3 {
      font-size: 40px;
      line-height: 49px;
      color: var(--white);
      text-align: center;
      max-width: 721px;

      @media (max-width: 700px) {
        font-size: 32px;
        line-height: 33px;
      }
    }

    p {
      font-size: 16px;
      line-height: 19px;
      color: var(--white);
      text-align: center;
      max-width: 500px;
      margin: 20px 0px 60px 0px;
    }

    .logos {
      width: 100%;
      display: flex;
      // justify-content: space-between;
      justify-content: center;
      flex-wrap: wrap;

      .logo {
        margin: 10px 20px;
      }
    }
  }
}
