// general config

@import "../node_modules/hamburgers/dist/hamburgers";

// fonts

@font-face {
  font-family: Wesfy-Regular;
  src: url("../public/fonts/Wes\ FY\ W03\ Regular.ttf");
}

@font-face {
  font-family: Wesfy-Medium;
  src: url("../public/fonts/Wes\ FY\ W03\ Medium.ttf");
}

@font-face {
  font-family: Wesfy-Bold;
  src: url("../public/fonts/Wes\ FY\ W03\ Bold.ttf");
}

@font-face {
  font-family: Proxima-Light;
  src: url("../public/fonts/Proxima\ Nova\ Thin.otf");
}

@font-face {
  font-family: Proxima-Regular;
  src: url("../public/fonts/ProximaNova-Regular.otf");
}

@font-face {
  font-family: Proxima-Medium;
  src: url("../public/fonts/Proxima\ Nova\ Bold.otf");
}

@font-face {
  font-family: Proxima-Bold;
  src: url("../public/fonts/Proxima\ Nova\ Extrabold.otf");
}

@font-face {
  font-family: Recoleta-Regular;
  src: url("../public/fonts/recoleta-regulardemo.otf");
}

@font-face {
  font-family: Recoleta-Bold;
  src: url("../public/fonts/Recoleta\ Bold.ttf");
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-family: Proxima-Regular;
  overflow-x: hidden;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100%;
  // background: #e5e5e5;
  background: #e5e5e5e5;
  color: var(--black);
  overflow-x: hidden;
}

html._fixed,
body._fixed {
  touch-action: none;
  -webkit-overflow-scrolling: none;
  overflow: hidden;
  overscroll-behavior: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.2;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: Wesfy-Bold;
}

p {
  font-size: 16px;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
  font-family: inherit;
  white-space: nowrap;
  text-decoration: none;
}

button {
  outline: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
  border: 0;
}

button:disabled {
  color: var(--white);
  background: var(--ghost);
  cursor: not-allowed;
}

.btn-primary {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 16px;
  color: var(--white);
  font-family: Proxima-Regular;
  font-size: 16px;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  font-family: Proxima-Regular;
  border-radius: 16px;
  font-size: 16px;
}

.btn-transparent-dark {
  background: transparent;
  border: 1px solid var(--black);
  color: var(--black);
  font-family: Proxima-Regular;
  border-radius: 4px;
  font-size: 16px;

  // &:hover {
  //   background: var(--black);

  // }
}

.btn-dark {
  background-color: var(--primary);
  border: 1px solid var(--primary);
  color: var(--white);
  font-family: Proxima-Regular;
  border-radius: 16px;
  font-size: 16px;
}

.btn-light {
  background-color: var(--white);
  border: 1px solid var(--white);
  color: #030303;
  font-family: Proxima-Regular;
  border-radius: 16px;
  font-size: 16px;
}

.btn-small {
  width: 122px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-large {
  width: 256px;
  height: 49px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-medium {
  width: 192px;
  height: 40px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-block {
  width: 100%;
  height: 58px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  object-fit: cover;
  display: block;
}

label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

input:not([type="radio"]),
input:not([type="checkbox"]),
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  font-size: 1rem;
  outline: none;
  color: inherit;
  width: 100%;
  font-family: inherit;
  border: 1px solid #dedede;
  background: var(--white);
  border-radius: 4px !important;
  height: 50px !important;
  transition: all 0.3s ease-in-out;
  padding: 12px;

  &:focus {
    border: 1px solid var(--new-blue);
  }
}

select {
  cursor: pointer;
}

textarea {
  resize: none;
  height: 150px !important;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
  border: 0;
  margin: 0;
  width: auto;
  height: auto;
  padding: 0;
}

input[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio;
  border: 0;
  margin: 0;
  border-radius: 50% !important;
  width: auto;
  height: auto;
  padding: 0;
}

.input-wrapper {
  width: 100%;
  position: relative;
  height: 56px;

  > label {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    margin-bottom: 0px;
  }

  input {
    padding: 12px 38px 12px 12px !important;
  }
}

.select-wrapper {
  width: 100%;
  position: relative;
  height: 50px;

  &::after {
    content: "";
    // width: 10px;
    // height: 6px;
    // background: url("../public/images/chevron-d.svg") no-repeat center;
    background-size: cover;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    display: block;
  }
}

// multiselect

.multiSelectContainer {
  .searchWrapper {
    padding: 0;
    border: 0;
    box-shadow: 0px 0px 4px rgba(71, 71, 71, 0.15);

    input {
      margin: 0;
      border: 0;
      font-family: inherit;
      font-size: 16px;
      height: 43px;

      &::placeholder {
        text-align: center;
      }
    }
  }

  .optionListContainer {
    z-index: 40;

    .option {
      font-size: 16px;
    }
  }
}

.backdrop {
  position: fixed;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.4s ease-in-out;

  @media (min-width: 1265px) {
    display: none;
  }

  &.show {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
  }
}

.hide-scrollbar {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.wrapper {
  width: 85%;
  margin: 0 auto;

  @media (max-width: 1387px) {
    width: 90%;
  }

  @media (max-width: 1315px) {
    width: 95%;
  }
}

// hamburger

.hamburger {
  padding: 0;
  width: fit-content;
}

.hamburger-box {
  border: none;
  outline: none;
  padding: 0;
  width: 30px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: var(--white);
  width: 30px;
  height: 2px;
  margin: 0;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--white);
  width: 30px;
  height: 2px;
  margin: 0;
}

.hamburger:hover {
  opacity: 1 !important;
}

// nprogress

#nprogress .bar {
  background: var(--new-blue) !important;
}

// swiper

.swiper-wrapper {
  &.home {
    min-height: 510px;

    .swiper-pagination {
      bottom: 0;
    }

    .swiper-pagination-bullet {
      background: rgba(255, 255, 255, 0.78) !important;
      height: 9px;
      width: 9px;
    }
  }
}

.custom-pag1,
.custom-pag3,
.custom-pag4 {
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: center;

  > span {
    width: 15px;
    height: 15px;
    background: #d8d8d8;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      border: 1px solid var(--new-blue);
      width: 36px;
      height: 36px;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;

      &::before {
        content: "";
        width: 15px;
        height: 15px;
        background: var(--new-blue);
        border-radius: 50%;
      }
    }
  }
}

.custom-pag2 {
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: center;

  > span {
    width: 15px;
    height: 15px;
    background: #777777;
    opacity: 1;

    &.swiper-pagination-bullet-active {
      border: 1px solid var(--white);
      width: 36px;
      height: 36px;
      background: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 1;

      &::before {
        content: "";
        width: 15px;
        height: 15px;
        background: var(--white);
        border-radius: 50%;
      }
    }
  }
}

.custom-prev1 {
  position: absolute;
  width: 80px;
  height: 80px;
  background: rgba(224, 224, 224, 0.8);
  backdrop-filter: blur(4px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black);
  z-index: 32;
  font-size: 28px;
  cursor: pointer;

  @media screen and (max-width: 1200px) {
    width: 50px;
    height: 50px;
    font-size: 25px;
    left: 0;
  }
}

.custom-next1 {
  position: absolute;
  width: 80px;
  height: 80px;
  background: rgba(224, 224, 224, 0.8);
  backdrop-filter: blur(4px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black);
  z-index: 32;
  font-size: 28px;
  cursor: pointer;

  @media screen and (max-width: 1200px) {
    width: 50px;
    height: 50px;
    font-size: 25px;
    // display: none;
    right: 0;
  }
}

.custom-next1,
.custom-prev1,
.custom-next2,
.custom-prev2 {
  &.swiper-button-disabled {
    pointer-events: all !important;
    cursor: not-allowed !important;
    // visibility: hidden;
  }
}

.custom-prev2 {
  width: 80px;
  height: 80px;
  border-radius: 2px 0px 0px 2px;
  background: #e2dedb;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media screen and (max-width: 600px) {
    height: 50px;
    width: 50px;
  }
}

.custom-next2 {
  width: 80px;
  height: 80px;
  border-radius: 0px 2px 2px 0px;
  background: #e2dedb;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media screen and (max-width: 600px) {
    height: 50px;
    width: 50px;
  }
}

// react paginate

.pagination {
  display: flex;
  // align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  @media screen and (max-width: 700px) {
    font-size: 18px;
  }

  li {
    margin-right: 50px;
    background: transparent;
    width: fit-content;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0px;
    }

    @media screen and (max-width: 700px) {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0px;
      }
    }

    > a {
      height: fit-content;
      width: fit-content;
      font-size: 20px;
      font-family: Proxima-Medium;
      color: #4d4d4d;
    }

    &.paginate-active {
      cursor: not-allowed;

      a {
        color: rgb(136, 135, 135) !important;
      }
    }

    &.paginate-disabled {
      cursor: not-allowed;

      &.paginate-next,
      &.paginate-previous {
        a {
          color: rgb(136, 135, 135) !important;
        }
      }
    }

    &.paginate-previous,
    &.paginate-next {
      height: fit-content;

      a {
        font-size: 18px;
        color: var(--black) !important;
      }
    }
  }
}

// breakpoints
// 1264px 1200px 903px 700px 600px 400px

// height of header - 70px
