:root {
  --primary: #004ef0;
  --fade: #eeeeee;
  --sky-blue: #ebf0ff;
  --new-blue: #1e2348;
  --heading: #484646;
  --black: #040404;
  --white: #fff;
  --ghost: #ccc;
  --shadow: 0px 1px 2px rgba (0,  0,  0,  0.05);
  --wrapper-max-width: 1980px;
  --wrapper-min-width: 240px;
  --full: 100%;
}
